body {
  margin: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.scroll-container {
  overflow: hidden;
  padding: 10px;
  border-top: 1px solid var(--Dark-12, #1C1C21);
  border-bottom: 1px solid var(--Dark-12, #1C1C21);
  background: var(--Dark-06, #0E0E10);

}

.scroll-text {
  color: var(--text-inverse, #FFF) !important;
  display: flex;
  gap: 25px;
  width: max-content;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

.scroll-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.scroll-item span {
  color: var(--text-inverse, #FFF) !important;
  text-align: center;
}

@keyframes my-animation {
  from {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(100%);
  }

  to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(-100%);
  }

}
